.cover__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 100%;
    height: 62.5vw;
    background-size: contain;
    background-image: url(../../../images/__background_cover_trains.jpg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 70%;
}

/* change ******************//*
.cover__link:hover + .cover__info{
    opacity: 0.8;
}
*/
.cover__link:before{
    position: absolute;
    opacity: 20%;
    background: #2A2C2F;
    content: "";
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
}
.cover__link:hover::before{
    position: absolute;
    opacity: 80%;
   /* background: #2A2C2F;*/
    content: "";
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* change
.cover__link:hover{
    opacity: 20%;
    z-index: 1;
}
*/
/*
.cover__info:hover > a.cover__link {
    opacity: 1.0;
    font-size: 122px;
    z-index: 2000;

*/
/*

@media screen and (min-width:1025px) and(max-width: 1280px) {
  .cover__link{
      width: 1184px;
      min-height: 740px;
  }
}

@media screen and (min-width:769px) and(max-width: 1024px) {
    .cover__link{
        width: 1024px;
        min-height: 640px;
    }
}

@media screen and (min-width:320px) and(max-width: 768px) {
    .cover__link{
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width:320px){
    .cover__link{
        max-width: 320px;
    }
}
*/
