
.cover__link {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-items: center;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 auto;
}


.cover__info:hover > a.cover__link {
    opacity: 1.0;
    color: brown;
    background-color: black;
    z-index: 2000;
    text-decoration: blueviolet;
    font-size: 72px;
}

.cover__info:hover ~ .cover__title {
    content: "HAVA-NAGILA";
    opacity: 1.0;
    color: coral;
    background-color: antiquewhite;
    z-index: 4000;
    text-decoration: blueviolet;
    font-size: 72px;
}

.cover__info:hover ~ .cover__subtitle{
    content: "HAVA-NAGILA";
    opacity: 1.0;
    color: chartreuse;
    background-color: antiquewhite;
    z-index: 6000;
    text-decoration: blueviolet;
    font-size: 72px;
}


/*
@media screen and (min-width:1025px) and(max-width: 1280px) {
  .cover__link{
      width: 1184px;
      min-height: 740px;
  }
}

@media screen and (min-width:769px) and(max-width: 1024px) {
    .cover__link{
        width: 1024px;
        min-height: 640px;
    }
}

@media screen and (min-width:320px) and(max-width: 768px) {
    .cover__link{
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width:320px){
    .cover__link{
        max-width: 320px;
        min-height: 200px;
    }
}
*/