.place__title {
    margin: 0;
    align-self: end;
    font-size: 72px;
    line-height: 105%;
    font-style: normal;
    font-weight: 900;
    max-width: 460px;
    padding-right: 40px;

}

@media screen and (max-width: 769px) and (max-width: 1024px) {
    .place__title {
        padding: 0;

    }
}

@media screen and (min-width: 321px)and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        word-spacing: 16px; /*для переноса на 2-ую стр заголовка*/
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        padding-left: 16px;
        font-size: 32px;
        line-height: 35px;
    }
}
