.places {
    max-width: 96.18%;
    margin: 0 auto;
    padding-top: 92px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .places {
        padding: 92px 148px 0 148px;
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .places {
        padding: 92px 48px 0 48px;
    }
}


@media screen and (min-width: 321px) and (max-width: 768px) {
    .places {
        padding: 88px 24px 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        padding: 64px 16px 0 16px;
    }
}
