.place__image {
    margin: 0 auto;
    grid-column: 1/2;
    max-width: 460px;
    width: 100%;
    object-fit: contain;
    object-position: top;
    align-items: center;
}


@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .place__image {
        max-width: 460px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
    }

}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .place__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        max-width: 320px;
    }
}