.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .lead  {

        margin: 0 auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .lead {
        margin: 0 auto;
    }
}

@media screen and (max-width: 321px) and (max-width: 768px) {
    .lead {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        width: 100%;
        margin: 0 auto;

    }
}
