.cover__subtitle{
    margin: 0 auto;
    position: relative;
    left: -412px;/*25.75em*/
    width: calc(100% + 824px);
    /*height: calc();*/
    height: 4.125em;
    font-size: 1.125em;
    font-style: normal;
    font-weight: 400;
    line-height: 1px;
    letter-spacing: 0;
    text-align: center;
    z-index: 3;
/*подумать как указать плавающую высоту*/
}