.cover__subtitle {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
    z-index: 30;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    align-items: center;
    max-width: 360px;
    width: 47%;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cover__subtitle {
        width: 55%;
    }
}

@media screen and (min-width: 701px) and (max-width: 768px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        width: 73%;
    }
}

@media screen and (max-width: 700px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
        width: 90%;
    }
}