.header {
    display: flex;
    justify-content:space-between;
    margin-top:28px;
    margin-left: 48px;
    margin-right: 48px;
   /* max-width: 931px;*/
    max-width:1184px;
}
@media screen and (max-width:320px){
    .header{
        margin-left: 16px;
        margin-bottom: 48px;
    }
}
