.header {
    display: flex;
    justify-content:space-between;
    margin: 28px 0 48px 56px;
    max-width: 1184px;
}

@media screen and (max-width: 768px) {
    .header {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .header {
        width: 100%;
    }
}
