.lead__box{
    width: 76.875%;
    justify-content: center;
    text-align: left;
    position: relative;
    margin: 0 auto;
    justify-self: center;

/*    style="width: 76.875%; justify-content: center; text-align: left; position: relative; margin: 0 auto; justify-self: center;"*/
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .lead__box{
        width: 90.625%;
    }
}

@media screen and (max-width: 321px) and (max-width: 768px) {
    .lead__box {
        width: 30%;
    }
}

@media screen and (max-width: 320px) {
    .lead__box{
        width: 99%;
    }
}
