.lead__title{
    display: flex;
    justify-content: center;
    max-height: 200px;
    max-width: 720px;
    margin: 0 280px;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    text-align: center;
}