.lead__title {
    position: relative;
    max-height: 200px;
    max-width: 720px;
    margin: 0 auto;
    font-size: 96px;
    line-height: 100px;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    padding: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .lead__title {
        margin:0 calc(100vw*3.88px) 0 calc(100vw*3.88px);

    }
}

/*@media screen and (min-width: 768px) and (max-width:1024px) { /* 1024/768  152/24  152-24=128
         1024-768=256-> 128/256*768 =1/2*768 =384 итого 152-384=-232 (128/256*100vw-232px)*/
    /*.lead__title {
        margin-left: calc(128 * 256 * 100vw - 360px);
        margin-right: calc(128 * 256 * 100vw - 360px);

    }
}*/

@media screen and (max-width: 768px) {
    .lead__title {

    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }
}


