.place__paragraph {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 161%;
    width: 484px;
    grid-column: 2/2;
    grid-row:2/3;
}

/*.place__paragraphs:nth-child(2) {
    margin-bottom: 0;
    margin-top: 0;
    width: 484px;
    margin-left: 148px;
}
   /* display: flex;
    justify-content: flex-end;
     width: 484px;*/



/*.place__paragraph{
width: 484px;
height: 261px;
margin-bottom: 0;
margin-top: 26px;
margin-left: 148px;
    display: flex;
    justify-content: flex-end;}*/
