.cover__info{
    max-width:1184px;
    min-height: 740px;
    margin: 0 auto;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .cover__info{
       padding-top: 92px;
        max-width:1024px;
        min-height: 640px;

    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cover__info{
        padding-top: 90px;
        max-width:768px;
        min-height: 480px;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .cover__info {
        padding-top: 66px;
        max-width:320px;
        min-height: 200px;
    }}
/*.cover__info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    z-index: 3009;
    min-height: 740px;
    width: 100%;
    opacity: 0.8;
    text-decoration: none;
}

.cover__info:hover {
    opacity: 0.3;
    text-decoration: none;
}

.cover__info:after {
    content: "";
    position: relative;
    opacity: 0.8;
    transition: opacity 0.5s linear;
    text-decoration: none;
*/