.cover__info{
    display: flex;
    width: 92.5%;
    margin: 0 auto;
  /*  background-size: cover;
    background-image: url(../../../images/__background_cover_trains.jpg);
    background-repeat: no-repeat;
     background-position: center;
    opacity: 70%;*/
    min-height: 62.5vw;
    align-items: center;
}
/*
.cover__info:hover {
    opacity: 20%;
    z-index: 1;
}
*/

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .cover__info{
        width:92.5%;
        min-height: 740px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cover__info{
        width: 100%;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px){
    .cover__info {
        width:100%;

    }
}

@media screen and (max-width: 320px){
    .cover__info {
        width: 100%;
    }
}

/*.cover__info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    z-index: 3009;
    min-height: 740px;
    width: 100%;
    opacity: 0.8;
    text-decoration: none;
}
*/



/*
.cover__info:hover:after {
    content: "";
    position: relative;
    opacity: 1;
    transition: opacity 0.5s linear;
    text-decoration: none;
}
*/

/*
.cover__info:hover:after  .cover__link{
    opacity: 1;
}

.cover__info:hover ~ .cover__title{
    opacity: 1;
}.cover__info:hover ~ .cover__subtitle{
    opacity: 1;
}
 */