.cover__info{
    width: 92.5%;
    margin: 0 auto;
    z-index: 5000;
    background-size: contain;
    background-image: url(../../../images/__background_cover_trains.jpg);
    background-repeat: no-repeat;
    height: 62.5vw;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .cover__info{
        width:92.5%;

    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cover__info{
        width: 100%;

    }
}

@media screen and (min-width: 321px) and (max-width: 768px){
    .cover__info {
        width:100%;

    }
}

@media screen and (max-width: 320px){
    .cover__info {
        width: 100%;
    }
}

/*.cover__info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    z-index: 3009;
    min-height: 740px;
    width: 100%;
    opacity: 0.8;
    text-decoration: none;
}

.cover__info:hover {
    opacity: 0.3;
    text-decoration: none;
}

.cover__info:after {
    content: "";
    position: relative;
    opacity: 0.8;
    transition: opacity 0.5s linear;
    text-decoration: none;
*/