.lead__image{
    display: flex;
    position: relative;
    margin: 64px 148px 0 148px;
    max-width: 984px;
    max-height: 615px;
    object-fit: cover;
    align-content: center;
}
@media screen and (max-width:1024px){
.lead__image  {
    width: 100%;
}
}

@media screen and (max-width:768px){
.lead__image {
   /* margin: 0 auto;
    height: 480px;*/
    width: 100%;
}}

@media screen and (max-width:768px){
    .lead__image{
        width: 100%;
    }
}
@media screen and (max-width:320px){
    .lead__image{
        width: 100%;
    }
}
