.lead__image{
    display: flex;
    position: relative;
   /* margin: 64px 148px 0 148px;*/
    max-width: 984px;(76.875%)
    max-height: 615px;
    object-fit: cover;
    align-content: center;
    padding-top: 64px;
    padding-left: 148px;
}
@media screen and (max-width:1024px){
.lead__image  {
    width:90.62%;
    padding-left: 48px;
    padding-top: 56px;
}
}
@media screen and (max-width:768px){
.lead__image {
    width: 100%;
    padding: 0;
    padding-top: 64px;
}}
@media screen and (max-width:320px){
    .lead__image{
        width: 100%;
    }
}
