.intro {
    display: grid;
    max-width: 690px;
    text-align: justify-all;
    padding-bottom: 92px;
    padding-top: 92px;

}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    .intro {
        padding: 92px 442px 92px 148px;
        max-width: 690px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
    .intro {
        padding: 92px 286px 92px 48px;
        max-width: 690px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding: 88px 24px 88px 24px ;
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        padding-bottom: 64px;
        padding-top: 64px;
        max-width: 288px;
    }
}