.cover {
    /*
    display: flex;
    flex-direction: column;
    */
    position: relative;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    border-radius: 0;
    bottom: 0;
    width: 100%;
}
