.cover {
    margin: 0 auto;
    padding: 0;
    position: relative;
}
    /*align-items: center;
    justify-content: center;
    margin: 66px auto;
    border-radius: 0;
    position: relative;
    opacity: 0.8;
    z-index: 5000;
    padding-top: 0;
    max-height: 740px;
    bottom: 0;
    max-width: 1184px;
    width: 100%;
    background-size: cover;
    background-image: url(../../images/__background_cover_trains.jpg);
    background-repeat: no-repeat;
    text-decoration: none;*/

/*.cover:hover {
    opacity: 0.3;
}

.cover:after {
    content: "";
    position: relative;
    opacity: 0.8;
    transition: opacity 0.5s linear;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        max-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        max-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
        max-height: 200px;
    }
}

.cover__info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    z-index: 3009;
    max-height: 740px;
    width: 100%;
    opacity: 0.8;
    text-decoration: none;
}

.cover__info:hover {
    opacity: 0.3;
    text-decoration: none;
}

.cover__info:after {
    content: "";
    position: relative;
    opacity: 0.8;
    transition: opacity 0.5s linear;
    text-decoration: none;
*/