.place__link{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 122%;
    width: 456px;
    text-decoration-line: underline;
    color: #FFFFFF;
    grid-column: 2/2;
    grid-row: 1/3;
}
.place__link:hover {
    opacity: 0.8;
}