.footer__row {
    margin: 0;
    display: grid;
    justify-items: start;
    grid-column-gap: 18px;
    grid-template-columns: repeat(5,fit-content(100%) );
    max-width: 878px;
    text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__row {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(1, 1fr);
       /* padding-left: 16px;*/
        padding-bottom: 0;
        gap: 32px;
    }
}
