.footer__row{
    margin:0;
    padding: 0;
    display: grid;
    justify-items: start;
    /* сделаю список не забуду разремить list-style-type: none;*/
    grid-column-gap: 18px;
    grid-template-columns:repeat(5,min-content);
    max-width: 878px;/*стоит ли упоминать хз*/
    text-decoration: none;
}