.footer__row {
    margin: 0;
    display: grid;
    justify-items: start;
    grid-column-gap: 18px;
    grid-template-columns:repeat(5, 1fr);
    max-width: 878px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 92px 48px 24px 48px;
}

@media screen and (max-width: 768px) {
    .footer__row {
        max-width: 720px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 88px;
    }
}

@media screen and (max-width: 320px) {
    .footer__row {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(1, 1fr);
        padding-left: 16px;
    }
}
