.cover__overlay {
    background-size: cover;
    background-image: url(../../../images/__background_cover_trains.jpg);
    background-repeat: no-repeat;
    z-index: 3009;
    max-height: 740px;
    opacity: 0.8;
}

.cover__overlay:hover{
    opacity: 0.3;
}

.cover__overlay:after{
    content: "";
    position: absolute;
    opacity: 0.8;
    transition: opacity 0.5s linear;
}
