@import url(../vendor/normalize.css);
@import url(../fonts/inter.css);
/* его у меня нет не скачала??*/
@import url(../blocks/root/root.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list/intro__list-item/intro__list-item.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/intro.css);

@import url(../blocks/lead/lead.css);

/*тут только верхняя шапка с лого и языками*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__languages/header__languages.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link-all/header__lang-link-all.css);

@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__image/__map/lead__image-map.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__imade/photo-grid__imade.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__background/cover__background.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__row/footer__row.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__row/_link/footer__row_link.css);
@import url(../blocks/footer/__row/_copyright/footer__row_copyright.css);

@import url(../blocks/place/place.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__link-header/place__link-header.css);

@import url(../blocks/places/places.css);

/*@media screen  and (max-width: 1023px){
    .lead__image{}
    .lead__title{}
    .lead__subtitle{}}*/


{
    -webkit-box-sizing: border-box
;
    -moz-box-sizing: border-box
;
    box-sizing: border-box
;
    -webkit-text-size-adjust: 100%
;
    -moz-text-size-adjust: 100%
;
    -ms-text-size-adjust: 100%
;
    -webkit-font-smoothing: antialiased
;
    -moz-osx-font-smoothing: grayscale
;

}
