.cover__title {
    position: relative;
    font-style: normal;
    z-index: 3002;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 auto;
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0;
    font-weight: 900;
    max-width: 560px;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
        max-width: 560px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
        max-width: 560px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
    }
}

