.cover__title {
    position: relative;
    font-style: normal;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
    font-size: 72px;
    letter-spacing: 0;
    font-weight: 900;
    /*height: 50%;*/
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}






