.cover__title {
    margin: 0;
    position: relative;
    font-style: normal;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
    max-width: 560px;
    font-size: 72px;
    text-align: center;
    padding-bottom: 32px;
    letter-spacing: 0;
    font-weight: 900;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
    }
}

@media screen and (min-width: 701px) and (max-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
        width: 73%;
    }
}

@media screen and (max-width: 700px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        width: 90%;
        padding-bottom: 16px;
    }
}






