.place{
    margin: 92px auto 0 auto;
    max-width: 984px;
    max-height: 660px;
    display: grid;
    grid-template-columns:repeat(2,1f
    );
    grid-template-rows:repeat(2,1f
    );
    gap:40px 48px;
    align-items: stretch;
}