.place {
    padding: 92px 148px 0 148px;
    max-width: 984px;
    display: grid;
    gap: 40px 48px;
    align-items: stretch;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .place {


    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .place {
        /*padding-left: 48px;*/
        margin: 0 auto;
        width: 100%;
    }
}

@media screen and (max-width: 321px) and (max-width: 768px) {
    .place {
    }
}

@media screen and (max-width: 320px) {
    .place {
        gap: 32px;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto);
        padding:0;

    }
}
