.header__lang-link-all {
    margin: 0;
    padding: 0;
    max-width: 77px;
    text-decoration: none;
    display: grid;
    gap: 18px;
    grid-template-columns: 30px 29px;
    justify-content: end;
    align-content: end;
    list-style-type:none;
}
/*
.header__lang-link-all:hover{
    opacity: 0.5;
    text-decoration: underline;
}
*/
@media screen and (max-width: 320px) {
    .header {
        grid-template-columns: 22px 20px;
    }
}