.footer__row-copyright{
    margin: 0 auto;
    min-width: 186px;
    max-height: 16px;
    padding: 92px 0 24px 0;
    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .footer__row-copyright {
        padding-left: 16px;
        margin-left: 0;
    }
}
