.footer__row-copyright {
    margin: 0;
   /* min-width: 186px;
    max-height: 16px;*/
    /*    padding: 92px 48px 24px 186px; */
    color: #FFFFFF;
    justify-items: end;
    justify-self: end;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .footer__row-copyright {
        /*        padding: 88px 24px 24px 24px; */
        justify-items: right;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .footer__row-copyright {
        /*        padding: 88px 24px 24px 69px;
               */
        margin: 0;
        padding: 0;
        padding-top: 48px;
        justify-items:start;
        padding-left: 16px;


    }
}
@media screen and (max-width: 320px) {
    .footer__row-copyright {
        /*        padding: 48px 16px 24px 16px; */
        margin: 0;
        padding-top: 48px;
        padding-left: 16px;
    }
}
