.place__website{
    list-style-type:none; /*#2A2C2F;*/
    margin: 0;
    /* display: flex;
   justify-content: flex-end;
   flex-wrap: wrap;
   align-items: flex-end; ну почему с гридами нет флексоов
    align-items: end;*/
    align-self: end;
    max-width: 28.5em;/*456*/
    max-height: 2.875em;/*46*/
}