.place__website{
    list-style-type:none;
    margin: 0;
    align-self: end;
    max-width: 456px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .place__website{
    }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
    .place__website{
    }
}

@media screen and (max-width: 321px) and (max-width: 768px) {
    .place__website{
        padding-left:16px;
    }
}