.intro__title{
    margin: 114px 442px 0 148px;
    padding: 0;
    font-size: 54px;
    font-weight: 900;
    align-items: flex-start;
    max-height: 58px;
    max-width: 690px;
   /* top: 1233px;*/
}